[Unit]
After=network.target auditd.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '{{ kafka_home }}/bin/kafka-server-start.sh {{ kafka_home }}/config/kraft/server.properties > /var/log/kafka/kafka.log 2>&1'
ExecStop={{ kafka_home }}/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
