{# Copyright 2026 Ronny Trommer <ronny@no42.org>
   SPDX-License-Identifier: GPL-3.0-or-later #}
deb [arch={{ arch }} signed-by={{ opennms_key_ring_file }}] {{ opennms_repo_url }} {{ _opennms_repo_effective_dist }} main
