# {{ ansible_managed }}

# Local configuration options
# 
#  Author: Bill Nelson
# Created: 6/22/17

# If OpenNMS is setting an incorrect HTML <base> tag, you can override
# its idea of the local URL here. The URL must end with a '/'. The following
# substitutions are available:
# %s: scheme (http, https)
# %h, %p: host and port from the Host: header
# %x: host and port from the X-Forwarded-Host, X-Host or Host header
# %c: context path (without trailing slash)
#
# You can use this to get Jetty working behind an Apache/SSL proxy.
# Set the base-url to https://%x%c/ and include in your Apache SSL vhost:
#     <Location /opennms>
#         ProxyPass http://127.0.0.1:8980/opennms
#         ProxyPassReverse http://127.0.0.1:8980/opennms
#     </Location>
#
#opennms.web.base-url = https://%x%c/
opennms.web.base-url = {{ opennms_web_base_url }}
